{include file="../structure/HTMLBegin.tpl"}
{include file="../structure/header.tpl"}
{include file="../structure/bodyBegin.tpl"}
<!-- -->
{include file="../structure/topBanner.tpl"}
<!-- -->
{include file="../structure/headerContent.tpl"}

{include file="../structure/beginContent.tpl"}

{include file="../structure/navigationContent.tpl"}
{include file="../structure/beginMainbarContent.tpl"}
{include file="../structure/beginMatterContent.tpl"}
<!-- contenido -->
    {include file="../structure/beginWinget.tpl"}FILTROS
    {include file="../structure/contentWinget.tpl"}
        <form id="formSearch" name="formSearch" class="form-horizontal" role="form" >
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombres</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Nombres" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Apellido Paterno</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="inputFName" name="inputFName" placeholder="Apellido Paterno" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Apellido Materno</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="inputMName" name="inputMName" placeholder="Apellido Materno" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">DNI</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="inputDNI" name="inputDNI" placeholder="DNI" maxlength="8" >
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-3">
                <button type="button" class="btn btn-info btn-sm" onclick="javascript:gridAlumnos()" >Buscar</button>
                <button class="btn btn-sm btn-info" type="button" onclick="href('registrarAlumno.php')">Nuevo Registro</button>
                <button type="reset" class="btn btn-default btn-sm" >Limpiar</button>
            </div><br />
        </form>
    {include file="../structure/endWinget.tpl"}
<!-- -->
<!-- contenido -->
	<div class="tableAlumnos widget"></div>
<!-- -->
{include file="../structure/endMatterContent.tpl"}
{include file="../structure/endMainbarContent.tpl"}

{include file="../structure/endContent.tpl"}

{include file="../structure/footer.tpl"}
<!-- -->
{include file="../structure/bodyEnd.tpl"}
{include file="../structure/HTMLEnd.tpl"}