{include file="../structure/HTMLBegin.tpl"}
{include file="../structure/header.tpl"}
{include file="../structure/bodyBegin.tpl"}
<!-- -->
{include file="../structure/topBanner.tpl"}
<!-- -->
{include file="../structure/headerContent.tpl"}

{include file="../structure/beginContent.tpl"}

{include file="../structure/navigationContent.tpl"}
{include file="../structure/beginMainbarContent.tpl"}
{include file="../structure/beginMatterContent.tpl"}
<!-- contenido -->

    {include file="../structure/beginWinget.tpl"}
    Lista de Docente
    {include file="../structure/contentWinget.tpl"}
    <!-- -->
    {include file="../structure/tableGrid.tpl"}
    <!-- -->
    {include file="../structure/endWinget.tpl"}
 
    {include file="../structure/beginWinget.tpl"}
    Docente
    {include file="../structure/contentWinget.tpl"}
    Contenido
    {include file="../structure/endWinget.tpl"}   
    

<!-- -->
{include file="../structure/endMatterContent.tpl"}
{include file="../structure/endMainbarContent.tpl"}

{include file="../structure/endContent.tpl"}

{include file="../structure/footer.tpl"}
<!-- -->
{include file="../structure/bodyEnd.tpl"}
{include file="../structure/HTMLEnd.tpl"}